[Unit]
Description=Check the state of the Screen to ensure that is turned on

[Service]
ExecStart=/home/sneer/smart_mirror/.venv/bin/python3 -u /home/sneer/smart_mirror/scripts/checkTv.py
WorkingDirectory=/home/sneer/smart_mirror
StandardOutput=inherit
StandardError=inherit
Restart=always
User=sneer

[Install]
WantedBy=multi-user.target
